* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

.container {
}

.search-area {
  position: relative;
  display: flex;
  align-items: center;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 56px;
}

.header-left {
  display: flex;
}

.left-ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.input {
  height: 36px;
  width: 300px;
  padding: 0 16px;
}

.header-right {
  display: flex;
  gap: 30px;
  display: flex;
}

.header-right1 {
  display: flex;
}

.header-right2 {
  display: flex;
}


.fa-magnifying-glass {
  position: absolute;
  right: 0;
  padding: 10px;
}
.fa-facebook{
    font-size: 36px;
    color: blue;
}

.group-main{
display: flex;
height:calc(100vh - 56px );
flex: 1;



}
.main-left {
   display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
  
}
.list-ul{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.main-content {
    background-color: rgb(0, 255, 123);

    flex: 4;}

.main-right {
    flex: 2;
    background-color: rgb(132, 0, 255);
}

.img{
    width: 36px;
    height: 36px;
}

.head-content{
    display: flex;

}

